.notification-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .notification-popup h2 {
    text-align: center;
    margin: 10px 0;
    color: #02270f;
  }
  
  .notification-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notification-popup li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .notification-popup li:last-child {
    border-bottom: none;
  }
  
  .notification-popup li p {
    margin: 0;
  }
  
  .notification-popup button {
    background-color: #02270f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
  }
  
  .notification-popup button:hover {
    background-color: red;
  }
  
  .close-button {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
  }
  
  .close-button:hover {
    background-color: #999;
  }
  