*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{
  display: flex;
}
.main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background-color: lightgray;
  color: #021409;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top-section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.bars{
  font-size: 25px;
  display: flex;
  margin-left: 50px;
}
.link{
  display: flex;
  color:  #02270f;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background-color:#fffbfb;
  color:red;
  transition: all 0.5s;
}
.active{
  background: #fffbfb;
  color: red;
}
.icon, .link-text{
  font-size: 20px;
}

.app_page{
  display: flex;
  }
